.form {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.input {
  margin-left: 10px;
  border: 1px solid brown;
  border-radius: 4px;
}

.button {
  background-color: beige;
  border: 1px solid orange;
  border-radius: 4px;
  height: 24px;
  cursor: pointer;
}

.button:hover {
  background-color: burlywood;
}
